#modal-genres li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    /* add left padding for indentation */
    padding-left: 30px;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-unstyled li {
    margin-bottom: 10px;
}

.list-unstyled li a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.list-unstyled li a:hover {
    background-color: #333;
    color: #fff;
}

.list-inline li {
    display: inline-block;
    margin-right: 10px;
}
