.modal-header {
    background-color: #6c757d;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;

    text-align: center; /* center align the text */
    padding: 10px; /* add some padding to the header */
}

.modal-title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.modal-body {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}

.modal-body p {
    font-size: 16px;
}

#modal-genres li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f0ad4e;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    /* add left padding for indentation */
    /* padding-left: 20px; */
}

#modal-image {
    margin-bottom: 10px;
    border-radius: 5px;
}

.modal-dialog {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-unstyled li {
    margin-bottom: 10px;
}

.list-unstyled li a {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    font-weight: bold;

    transition: all 0.2s ease-in-out; /* add transition for smooth hover effect */
    border: 2px solid #333;
}

.list-unstyled li a:hover {
    background-color: #333;
    color: #fff;

    text-decoration: underline;
}

.list-inline li {
    display: inline-block;
    margin-right: 10px;
}

/* font */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}
