.card-img-top {
    max-width: 100%;
    max-height: 300px;

    width: 100%;
    height: 100%;

    /* is used to ensure that the image fills the container and is cropped to fit the available space. */
    object-fit: cover;
}

.card {
    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;
}

.card a {
    /* display: block; */
    width: 100%;
    height: 100%;
}

.card-body {
    color: gray;
    font-size: 14px;
    /* font-weight: bold;  */
    text-align: center;
    padding: 0;
}

.clickable-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
